[submodule "roles/cloud-instances"]
	path = roles/cloud-instances
	url = git@github.com:ismc/ansible-role-cloud-instances.git
[submodule "roles/cloud-networks"]
	path = roles/cloud-networks
	url = git@github.com:ismc/ansible-role-cloud-networks.git
[submodule "roles/cloud-keypairs"]
	path = roles/cloud-keypairs
	url = git@github.com:ismc/ansible-role-cloud-keypairs.git
